body {
    background-color: rgb(207, 207, 207);
}

.weather {
    display: block;
    background-color: rgb(226, 223, 209);
    margin: 15px 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.data {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h3,
h4 {
    color: rgb(0, 204, 153);
}

h1 {
    font-weight: 500;
}

img {
    width: 80px;
}