body {
    background-color: rgb(168, 168, 168);
    margin: 0;
}

header {
    display: block;
}

.head_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
    padding: 0 32px;
}

.head_2 {
    display: flex;
    padding-left: 30px;
    background-color: rgb(53, 53, 53);
    max-height: 50px;
}

.today,
.day5 {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0;
    border-left: 1px solid white;
}

a {
    color: white;
    font-size: larger;
    margin: 30px 30px;
}

.color {
    background-color: rgb(255, 255, 255);
    margin: 15px 30px;
}

.search {
    display: flex;
}

button img {
    width: 25px;
}

input {
    width: 260px;
    margin-right: 5px;
}

.currentWeather {
    display: block;
}

.currentInfo {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.currentData {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hourlyWeather {
    display: block;
    padding: 1px 20px;
}

.hourlyValue {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hourlyInfo {
    display: flex;
}

.hourlyIndexes {
    margin-right: 30px;
    width: 10%;
}

.nearbyPlaces {
    padding: 1px 20px;
}

.cityWeather {
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 0 100px;
    flex-wrap: wrap;
}

.city {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    background-color: rgba(212, 212, 212, 0.74);
    margin: 10px 10px;
}

#today {
    margin-top: 16px;
    margin-bottom: 90px;
}

h1,
h3,
h4 {
    color: rgb(3, 160, 87);
}

#green {
    color: rgb(3, 160, 87);
    font-weight: bold;
}

h1 {
    font-weight: bold;
}

p {
    font-size: large;
}

img {
    width: 70px;
}

.hours {
    margin-bottom: 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dayValue {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 20px;
}

[class^="dayValueDiv"] {
    width: 19.5%;
    background-color: rgb(216, 216, 216);
}

#dayWeather {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.active {
    background-color: rgba(255, 255, 255, 0.89);
}

#day-5 {
    display: none;
}